<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Id="105A87B6-AE91-4927-B899-DF15560FAA57" Name="Item Assistant" Language="1033" Codepage="1252"
		Version="0.8.0.0" Manufacturer="Morten Fjeldstad">
		<Package Id="1AC02376-7F47-4d6a-923B-D4E54D280B8A" Description="Item Assistant Installer"
			Comments="See http://ia.frellu.net for details." InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="ia.cab" EmbedCab="yes" />

		<Icon Id="IconFile" SourceFile="..\release\ItemAssistant.exe" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="aoIA" LongName="Item Assistant">
					<Component Id="AppComponent" Guid="DFB068BB-7A99-4502-AAFA-7A4DFB4E636A">
						<File Id="ItemAssistantExe" Name="aoIA.exe" LongName="ItemAssistant.exe" DiskId="1" Source="..\release\ItemAssistant.exe" Vital="yes">
							<Shortcut Id="startmenuItemAssistantExe" Directory="ProgramMenuDir" Name="aoIA" LongName="Item Assistant"
								WorkingDirectory="INSTALLDIR" Icon="IconFile" IconIndex="0" />
						</File>
					</Component>
					<Component Id="HookComponent" Guid="19B0EDFE-D435-4f2c-A0AC-7E92451CBF5F">
						<File Id="ItemAssistantHookDll" Name="aohook.dll" LongName="ItemAssistantHook.dll" DiskId="1"
							Source="..\release\ItemAssistantHook.dll" Vital="yes" />
					</Component>
					<Component Id="MadComponent" Guid="762765E3-47A3-404b-A816-B4402E65BE46">
						<File Id="MadCodeHookLibDll" Name="madhook.dll" LongName="MadCodeHookLib.dll" DiskId="1"
							Source="..\release\MadCodeHookLib.dll" Vital="yes" />
					</Component>
					<Component Id="SQLiteComponent" Guid="75DCF192-E658-4dbe-A256-9FC944530236">
						<File Id="SQLiteDll" Name="sqlite3.dll" LongName="sqlite3.dll" DiskId="1" Source="..\release\sqlite3.dll"
							Vital="yes" />
					</Component>
					<Component Id="IaDbComponent" Guid="F496F99F-1085-44a0-823A-5E20AD24EFFF">
						<File Id="ItemAssistantDb" Name="ItemAss.db" LongName="ItemAssistant.db" DiskId="1" Source="..\release\ItemAssistant.db" Vital="yes" />
					</Component>
					<Component Id="AoDbComponent" Guid="47347BD3-EDD7-4f0d-8DC0-E672D817CE54">
						<File Id="AoItemsDb" Name="aoitems.db" LongName="aoitems.db" DiskId="1" Source="..\release\aoitems.db" Vital="yes" />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
				<Directory Id="ProgramMenuDir" Name="aoIA" LongName="Item Assistant" />
			</Directory>

		</Directory>

		<Feature Id="CompleteFeature" Title="Full Install" Level="1" Display="expand" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="ApplicationFeature" Title="Main Application" Level="1">
				<ComponentRef Id="AppComponent" />
				<ComponentRef Id="HookComponent" />
				<ComponentRef Id="MadComponent" />
				<ComponentRef Id="SQLiteComponent" />
			</Feature>
		
			<Feature Id="IaDbFeature" Title="Item Assistant DB" Description="Installs an empty default DB file. Useful for first-time installs." Level="1">
				<ComponentRef Id="IaDbComponent" />
			</Feature>

			<Feature Id="AoDbFeature" Title="Anarchy Online DB" Description="Installs the latest version of the AO item database." Level="1">
				<ComponentRef Id="AoDbComponent" />
			</Feature>
		</Feature>
<!--
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
-->	
	</Product>
</Wix>
